/* Import Special Gothic Expanded One font */
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

/* Fallback for Special Gothic Expanded One */
@font-face {
  font-family: 'Special Gothic Expanded One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/specialgothicexpandedone/v1/0Qmk7w_TrIhpkGmiwdkbx0S4BXNBn64tPRTwR3S24D7EGg.ttf) format('truetype');
}